@import '../base/variaveis';


.metricas {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-family: $fonte;
    margin: 0 7rem 6rem 7rem;

    @media screen and (max-width: 1220px) {
        gap: 4rem;

        @media (max-width: 768px) {
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }

    .div-metricas {
        width: 17rem;

        @media screen and (max-width: 1220) {
            width: 23rem;


        }

        h2 {
            font-size: 3.75rem;
            font-weight: 600;
            color: $vermelho;
            line-height: 72px;
            margin-bottom: .75rem;
        }

        h3 {
            color: $azul-principal;
            font-size: 1.1rem;
            font-weight: 500;
            line-height: 1.75rem;
            margin-bottom: .5rem;
        }

        p {
            font-size: $tamanho-fonte;
            font-weight: 400;
            color: $cinza-principal;
            width: 100%;
            line-height: 1.5rem;
        }
    }
}