@import url(./resetcss/reset.css);
@import url(./Styles/header.css);
@import url(./Styles/cabecalho.css);
@import url(./Styles/metricas.css);
@import url(./Styles/vagas.css);
@import url(./Styles/depoimentos.css);
@import url(./Styles/formulario.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --bg-color: #ffffff;
    --cinza-titulo: #3A404E;
    --cinza-principal: #667085;
    --azul-principal: #101828;
    --vermelho-destaque: #8e2424;
    --vermelho-hover: #7a0c0c;
    --border-grey: #D0D5DD;
    --rodape-info: #98A2B3;
    --borda: #EAECF0;
    --background-vagas: rgb(233, 235, 241);
    --fonte-principal: 'Inter', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}