.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.12rem 5rem;
  padding: 0 2rem;
  font-family: "Inter", sans-serif;
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-between;
    margin: 1.12rem 1rem;
  }
}
.header .header-titulo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.12rem;
  font-weight: 500;
  color: #3A404E;
  text-decoration: none;
}
.header .navbar {
  margin-right: 17rem;
  display: flex;
  gap: 2rem;
}
@media screen and (max-width: 1220px) {
  .header .navbar {
    display: none;
  }
}
.header .navbar a {
  text-decoration: none;
  color: #667085;
  font-size: 1rem;
  font-weight: 500;
}
.header .navbar a:hover {
  color: rgb(60, 63, 69);
  transition: 0.2s;
}
.header .section-cadastro {
  display: flex;
  gap: 0.75rem;
}
.header .section-cadastro a {
  text-decoration: none;
  color: #667085;
  padding: 1.12rem;
}
.header .section-cadastro a:hover {
  color: rgb(60, 63, 69);
}
@media screen and (max-width: 768px) {
  .header .section-cadastro a {
    padding: 0.8rem;
  }
}
.header .section-cadastro .button {
  color: #ffffff;
  background-color: #8e2424;
  border-radius: 0.5rem;
}
.header .section-cadastro .button:hover {
  background-color: #7a0c0c;
  color: #ffffff;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 0;
  font-family: "Inter", sans-serif;
}
.cabecalho h3 {
  color: #8e2424;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}
.cabecalho h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #101828;
}
@media screen and (max-width: 768px) {
  .cabecalho h2 {
    width: 90%;
  }
}
.cabecalho p {
  color: #667085;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
  padding: 0.75rem;
}
@media screen and (max-width: 1220px) {
  .cabecalho p {
    width: 80%;
  }
}
@media screen and (max-width: 1220px) and (max-width: 768px) {
  .cabecalho p {
    width: 80%;
  }
}

.metricas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-family: "Inter", sans-serif;
  margin: 0 7rem 6rem 7rem;
}
@media screen and (max-width: 1220px) {
  .metricas {
    gap: 4rem;
  }
}
@media screen and (max-width: 1220px) and (max-width: 768px) {
  .metricas {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.metricas .div-metricas {
  width: 17rem;
}
@media screen and (max-width: 1220) {
  .metricas .div-metricas {
    width: 23rem;
  }
}
.metricas .div-metricas h2 {
  font-size: 3.75rem;
  font-weight: 600;
  color: #8e2424;
  line-height: 72px;
  margin-bottom: 0.75rem;
}
.metricas .div-metricas h3 {
  color: #101828;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}
.metricas .div-metricas p {
  font-size: 1rem;
  font-weight: 400;
  color: #667085;
  width: 100%;
  line-height: 1.5rem;
}

.vagas-abertas {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.5rem;
  padding: 6rem 0;
  font-family: "Inter", sans-serif;
}
.vagas-abertas h3 {
  color: #8e2424;
  font-weight: 600;
  font-size: 1rem;
  line-height: 24px;
}
.vagas-abertas h2 {
  font-size: 3rem;
  font-weight: 600;
  color: #101828;
}
@media screen and (max-width: 768px) {
  .vagas-abertas h2 {
    width: 90%;
  }
}
.vagas-abertas p {
  color: #667085;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
  padding: 0.75rem;
}
@media screen and (max-width: 768px) {
  .vagas-abertas p {
    width: 90%;
  }
}
@media screen and (max-width: 1220px) {
  .vagas-abertas img {
    width: 90%;
  }
}
@media screen and (max-width: 1220px) and (max-width: 768px) {
  .vagas-abertas img {
    width: 90%;
  }
}

.vagas-info {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-bottom: 6rem;
}
.vagas-info ul {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  color: #101828;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 21rem;
}
@media screen and (max-width: 1220px) {
  .vagas-info ul {
    margin: 0 12rem;
  }
}
@media screen and (max-width: 1220px) and (max-width: 768px) {
  .vagas-info ul {
    margin: 0 3rem;
  }
}
.vagas-info ul h3 {
  margin-bottom: 2rem;
}
.vagas-info ul .informacoes {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(231, 231, 231, 0.6588235294);
  border-radius: 1rem;
}
.vagas-info ul .informacoes:hover {
  background-color: rgba(213, 213, 213, 0.6588235294);
  cursor: pointer;
  transition: 0.2s;
}
.vagas-info ul .informacoes h4 {
  font-size: 1.12rem;
}
.vagas-info ul .informacoes .informacoes-salario {
  display: flex;
  gap: 1.5rem;
}
.vagas-info ul .informacoes .informacoes-salario p {
  font-size: 1rem;
  color: #667085;
}

.depoimentos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 4rem;
  margin-bottom: 6rem;
  font-family: "Inter", sans-serif;
}
.depoimentos h3 {
  color: #8e2424;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}
.depoimentos h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 44px;
  color: #101828;
  width: 70%;
  margin: 1rem 0;
}
@media screen and (max-width: 768px) {
  .depoimentos h2 {
    width: 90%;
  }
}
.depoimentos img {
  height: 56px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.depoimentos .name {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #101828;
  margin-bottom: 4px;
}
.depoimentos p {
  color: #667085;
  font-size: 0.87rem;
  font-weight: 400;
  line-height: 30px;
}

.rodape {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1.25rem;
  font-family: "Inter", sans-serif;
  margin: 6rem 0;
}
.rodape h2 {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 44px;
  color: #101828;
}
@media screen and (max-width: 768px) {
  .rodape h2 {
    width: 90%;
  }
}
.rodape p {
  color: #667085;
  font-weight: 400;
  font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
  .rodape p {
    width: 90%;
  }
}
.rodape .paragrafo-rodape {
  font-size: 1rem;
  color: #98A2B3;
}
.rodape div {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.rodape div input {
  border: 1px solid #D0D5DD;
  background: white;
  border-radius: 8px;
  box-shadow: none;
  padding: 12px 16px;
  width: 330px;
}
.rodape div input:placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #667085;
}
@media screen and (max-width: 768px) {
  .rodape div input {
    width: 90%;
  }
}
.rodape div label a {
  padding: 0.75rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #8e2424;
  border-radius: 0.5rem;
}
.rodape div label a:hover {
  background-color: #7a0c0c;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .rodape div label a {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */