//Cor de fundo
$bg-color: #ffffff;

//Cores para parágrafos e títulos
$cinza-titulo:#3A404E;
$cinza-principal: #667085;
$cinza-principal-hover: rgb(60, 63, 69);
$azul-principal: #101828;

//Cores em destaque
$vermelho: #8e2424;
$vermelho-hover: #7a0c0c;

//Fontes e Tamanhos
$fonte: 'Inter', sans-serif;
$tamanho-fonte: 1rem;