.depoimentos {
    padding: 4em;
}

.depoimentos__subtitulo {
    font-size: .88em;
}

.depoimentos__titulo {
    font-size: 2.25em;
}

.depoimentos__div {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em ;
}

.nome {
    color: var(--azul-principal);
    font-weight: 500;
    margin: 1em 0 .4em 0;
}

.depoimentos__texto {
    font-size: .88em;
}