.rodape__div {
    padding: 6em 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 1.25em;
}

.rodape__titulo {
    font-size: 2.25em;
}

.rodape__div__formulario {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
}

input::placeholder {
    color: var(--cinza-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.rodape__email {
    border: 1px solid var(--border-grey);
    border-radius: .5em;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    padding: .75em .88em .75em 1em;
    width: 25%;
}

.botao__cadastro:hover {
    background-color: var(--vermelho-hover);
}

@media screen and (max-width: 768px) {
    .cabecalho {
        margin: 4em 1em 2em 1em;
    }

    .rodape__div {
        padding: 0;
    }

    .rodape__titulo {
        font-size: 1.5em;
    }
}